html {
  box-sizing: border-box;
  font-family: PT, serif;
  background-color: #c9b5ab;
  line-height: 1.5;
  font-weight: normal;
  font-size: 1.125rem;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

figcaption {
  font-style: italic;
  text-align: center;
}

h1, h2 {
  color: #3f1622;
  font-family: PT, sans-serif;
  font-weight: bold;
}

nav {
  font-size: 1.125rem;
  font-family: PT, sans-serif;
}

a {
  color: #8f2440;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

nav ol {
  list-style-type: none;
}

nav a:hover {
  color: #222;
}

blockquote {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: lighter;
}

/* ## Details

- *Typefaces:* `PT Sans` (bold), `PT Serif` (regular, italic, bold) — from Google Fonts
- *Text sizes:* `1.5rem`, `1.125rem`, `0.8rem`
- *Line height:* `1.5`
- *Colours:* `#c9b5ab`, `#8f2440`, `#222`, `#3f1622`

---
*/
